
<table class="table table-bordered" style="width:100%; height:100%;">
              <tbody>
                <tr>
                  <td colspan="3">GENERAL</td>
                </tr>
                <tr>
                  <th colspan="2">Warm up time</th>
                  <td>25 seconds</td>
                </tr>
                <tr>
                  <th class="w200" rowspan="2">First output speed</th>
                  <th class="w200">Full colour:</th>
                  <td>7.1 seconds</td>
                </tr>
                <tr>
                  <th class="w200">B/W:</th>
                  <td>4.6 seconds</td>
                </tr>
                <tr>
                  <th colspan="2">Continuous output speed</th>
                  <td>30 pages per minute</td>
                </tr>
                <tr>
                  <th rowspan="2">Memory</th>
                  <th>Standard:</th>
                  <td>2 GB</td>
                </tr>
                <tr><th>Maximum:</th>
                  <td>4 GB</td>
                </tr>
                <tr>
                  <th colspan="2">HDD</th>
                  <td>250 GB</td>
                </tr>
                <tr>
                  <th rowspan="2">Dimensions (W x D x H)</th>
                  <th>With ARDF:</th>
                  <td>587 x 685 x 913 mm</td>
                </tr>
                <tr><th>With SPDF:</th>
                  <td>587 x 685 x 963 mm</td>
                </tr><tr><th colspan="2">Weight</th>
                  <td>87.4 kg</td>
                </tr>
                <tr>
                  <th colspan="2">Power source</th>
                  <td>220 - 240 V, 50/60 Hz</td>
                </tr>
              </tbody>
            </table>